

 
.editor-info {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;

	-webkit-column-rule: 1px solid #F3F3F3;
	-moz-column-rule: 1px solid #F3F3F3;
	-ms-column-rule: 1px solid #F3F3F3;
	-o-column-rule: 1px solid #F3F3F3;
	column-rule: 1px solid #F3F3F3;
}



/*!
 *	Graph on home
 */
#graph-container {
	box-shadow: 0 1.5px 6px rgba(0,0,0,0.18);
}

.version-panel,
#graph-container {
	min-height: 300px;	
}

/*!
 *	Side navigation
 */
 
.sidebar {
	float: right;
	margin-top: 100px;
}

.sidebar .list-group {
	
	border: 1px solid #213365;
	
	margin-bottom: 10px;
	
	/*margin: -35px -20px 0 auto;*/
	width: 285px;
	
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -20px;
}




/*!
 * Version information on home
 */
/*#collapse-panel-trigger {
	position: fixed;
	right: 0px;
	top: 45%;
	width: 20px;
	height: 75px;
	color: #FFFFFF;
	
	background-image: linear-gradient(to bottom, #213365 0px, #213365 100%);
    background-repeat: repeat-x;
    
	border-radius: 5px 0 0 5px;

	text-align:	center;
	cursor: pointer;
	padding-top: 25px;
	z-index: 100;
}

#collapse-panel-trigger:hover, 
#collapse-panel-trigger:focus {
    background-color: #5d5773;
    background-position: 0 -15px;
}

/*!
 * Version information in dashboard and version-slidebars
 */
/*#dashboard-version-panel {}

#editor-version-panel {
	background-color: #FFF;
	color: #000;
}

.version-panel {
	box-shadow: 0 1.5px 6px rgba(0,0,0,0.18); 
	overflow-y: scroll;
}

.version-panel li {
	-webkit-box-shadow: inset 12px 0 0 #fff, inset -12px 0 0 #fff, inset 0 -1px #ccc;
}

.version-panel ul {
	padding: 0;
}

.version-panel ul>li:before {
	background: none;
	border: none;
}

.version-panel .version-icon {
	margin: 15px 0px 5px 10px;
}

.version-panel li.version-deleted .version-hightlight {
	color: #652122;
}

.version-panel li.version-draft .version-hightlight {
	color: #446521;
}

.version-panel li.version-published .version-hightlight {
	color: #446521;
}

.version-panel li.version-selected {
	background-color: #CCC;
}

.version-panel li.version-selected .post_title {
	font-weight: bold;
}

.version-panel .post_title {
	position: relative;
}

.version-panel .post_title .version-title {
	display: block;
	overflow: hidden;
	/*margin-left: 30px;*/
	
/*	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 
}

.version-comment {
	font-style: italic;
}*/