/*!
 * Application customization based on DARIAH-DE Bootstrap styleguide
 */
/*!
 *	Table views
 */
.data-table-count {
  margin-right: 12px; }

.data-table-filter input {
  display: inline-block; }

.dataTable.table-hovering > tbody > tr {
  position: relative; }
  .dataTable.table-hovering > tbody > tr:hover > td {
    background-color: #A08246; }
    .dataTable.table-hovering > tbody > tr:hover > td a {
      color: #F9F9F9; }
  .dataTable.table-hovering > tbody > tr:hover::after {
    display: inline-block;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    margin-top: -12px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f044";
    color: #F9F9F9; }
.dataTable > tbody > tr.selected {
  background-color: #035151;
  color: #F9F9F9; }
  .dataTable > tbody > tr.selected :hover {
    background-color: #058282; }
  .dataTable > tbody > tr.selected a, .dataTable > tbody > tr.selected .btn-inline, .dataTable > tbody > tr.selected .btn-link {
    color: #F9F9F9; }
    .dataTable > tbody > tr.selected a:hover, .dataTable > tbody > tr.selected a:focus, .dataTable > tbody > tr.selected .btn-inline:hover, .dataTable > tbody > tr.selected .btn-inline:focus, .dataTable > tbody > tr.selected .btn-link:hover, .dataTable > tbody > tr.selected .btn-link:focus {
      color: #adb5bd; }
.dataTable > tbody > tr > td {
  /* Fill to cell size: https://stackoverflow.com/a/15801081 */
  overflow: hidden;
  padding: 6px; }
  .dataTable > tbody > tr > td a {
    border-bottom: none;
    display: block;
    margin: -10em;
    padding: 10em; }
  .dataTable > tbody > tr > td.td-no-wrap {
    white-space: nowrap; }
  .dataTable > tbody > tr > td.td-center {
    text-align: center; }
  .dataTable > tbody > tr > td.td-image {
    width: 90px; }
    .dataTable > tbody > tr > td.td-image img {
      margin: 0 auto;
      border: 1px solid #dee2e6; }
    .dataTable > tbody > tr > td.td-image .list-thumb-nopreview {
      position: relative;
      width: 100%;
      height: 75px;
      min-width: 100px;
      background: url(../img/placeholder-logo.png) top center no-repeat; }
      .dataTable > tbody > tr > td.td-image .list-thumb-nopreview span {
        position: absolute;
        bottom: 2px;
        right: 2px;
        left: 2px;
        background: rgba(3, 81, 81, 0.7);
        border: 1px solid #035151;
        border-radius: 0.2rem;
        padding: 4px;
        color: white;
        margin: 0;
        font-size: 0.875rem;
        font-family: "Open Sans", sans-serif; }
      .dataTable > tbody > tr > td.td-image .list-thumb-nopreview a {
        color: #F9F9F9; }

/*!
 *	Side navigation
 */
.sidebar-container {
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1020; }

.sidebar {
  float: right;
  margin-top: 10px;
  overflow-y: auto;
  max-width: 550px;
  visibility: hidden;
  width: 90%; }
  .sidebar .sidebar-block {
    background-color: #F9F9F9;
    border: 1px solid #dee2e6;
    margin-bottom: 12px;
    padding: 0 12px;
    /*margin: -35px -20px 0 auto;*/
    border-radius: 0.25rem;
    /*padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -20px;*/ }
    .sidebar .sidebar-block label {
      font-weight: 400;
      display: flex; }
      .sidebar .sidebar-block label input[type='checkbox'] {
        margin-right: 6px; }
    .sidebar .sidebar-block a {
      border: none;
      /*color: $body-color;*/
      font-size: 90%; }
    .sidebar .sidebar-block h2 {
      margin: 12px 0; }
    .sidebar .sidebar-block h3 {
      margin-top: 12px;
      margin-bottom: 6px;
      margin-left: 0.5rem; }
    .sidebar .sidebar-block ul {
      padding-left: 12px;
      margin-left: 0; }
      .sidebar .sidebar-block ul li {
        padding-bottom: 6px; }

.modal .modal-dialog .modal-content .modal-header .modal-title {
  margin: 0; }
.modal .modal-dialog .modal-content .modal-body {
        /*.col-form-label {
						text-align: right;
					}*/ }
  .modal .modal-dialog .modal-content .modal-body .form-check {
    padding-top: calc(0.875rem + 1px);
    /*padding-bottom: calc(0.875rem + 1px);*/ }

/*!
 *	Typeahead
 */
.twitter-typeahead {
  width: 100%; }
  .twitter-typeahead .tt-hint {
    color: #707070; }
  .twitter-typeahead .tt-menu {
    width: 100%;
    background-color: #A08246;
    color: #F9F9F9;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
    .twitter-typeahead .tt-menu .tt-suggestion,
    .twitter-typeahead .tt-menu .tt-empty-message {
      padding: 12px 12px;
      margin: 0; }
    .twitter-typeahead .tt-menu .tt-suggestion:hover {
      background-color: #035151;
      cursor: pointer; }

.nav-tabs .nav-link {
  font-size: 110%; }

.tab-pane {
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  padding: 12px; }

.collection-image {
  position: relative;
  width: 100%; }
  .collection-image img {
    width: 100%;
    height: auto; }
  .collection-image span {
    position: absolute;
    top: 10%;
    left: 0px;
    right: 0px;
    border-top: 2px solid #A08246;
    border-bottom: 2px solid #A08246;
    background-color: #035151;
    opacity: 0.8;
    text-align: center;
    padding: 8px 5px 12px 5px;
    color: #F9F9F9;
    font-style: italic;
    z-index: 100; }

.wordcloud {
  text-align: center; }

#search-loading-indicator {
  position: absolute;
  right: 0; }

#search-results-container #search-results .tab-pane .search-result-tab-heading {
  font-style: italic; }
#search-results-container #search-results .tab-pane .search-results-resources-show-more {
  text-align: center; }
#search-results-container #search-results .tab-pane .search-results-item {
  margin: 12px 12px 24px 12px; }
  #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container {
    flex: 0 0 145px;
    position: relative;
    padding: 5px;
    border: 1px solid #dee2e6;
    margin-top: 6px;
    margin-right: 24px;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 145px;
    width: 145px; }
    #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .search-result-image {
      height: 135px;
      width: 135px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
    #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .image-loading-overlay,
    #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .no-preview-overlay {
      position: absolute;
      text-align: center;
      vertical-align: middle;
      padding: 8px 5px;
      z-index: 100; }
      #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .image-loading-overlay.image-loading-overlay,
      #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .no-preview-overlay.image-loading-overlay {
        top: 40px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        color: #A08246;
        opacity: 0.8; }
      #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .image-loading-overlay.no-preview-overlay,
      #search-results-container #search-results .tab-pane .search-results-item .search-result-image-container .no-preview-overlay.no-preview-overlay {
        top: 60px;
        left: 0px;
        right: 0px;
        border-top: 3px solid #A08246;
        border-bottom: 3px solid #A08246;
        background-color: #035151;
        opacity: 0.7;
        -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        color: white;
        font-style: italic; }
  #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item {
    justify-content: center; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-score {
      float: right;
      font-size: 90%; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-datasource {
      margin-bottom: 0; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-title {
      margin-bottom: 8px; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item ul.search-result-links {
      list-style: none;
      padding: 0;
      margin-bottom: 8px; }
      #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item ul.search-result-links li {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item div.search-result-highlights {
      margin-bottom: 8px;
      font-size: 85%; }
      #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item div.search-result-highlights > div {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        margin: 8px;
        font-style: italic; }
        #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item div.search-result-highlights > div span.result-highlight-field {
          font-style: normal; }
        #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item div.search-result-highlights > div span.result-highlight {
          font-weight: bold;
          color: #035151; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-objects > span {
      display: inline-block;
      padding: 0 0.25rem 0.25rem 0.25rem;
      cursor: pointer; }
      #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-objects > span i.fa {
        margin-right: 5px; }
    #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-panel {
      border: 1px solid #dee2e6;
      margin-top: 6px;
      margin-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
      overflow-wrap: break-word;
      word-wrap: break-word; }
      #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-panel .btn {
        padding-left: 0; }
      #search-results-container #search-results .tab-pane .search-results-item .search-results-resource-item .search-result-panel .collapse ul {
        padding-left: 1.25rem;
        border-bottom: 0; }
#search-results-container #search-results .tab-pane .result-collection {
  margin-bottom: 24px; }

#item-detail-container #item-detail-collection {
  margin-bottom: 0; }
#item-detail-container #item-detail-resource {
  font-size: 2rem; }
#item-detail-container .item-detail-hierarchy {
  text-transform: uppercase;
  padding: 0 0 0 24px; }
  #item-detail-container .item-detail-hierarchy li {
    list-style-type: none;
    text-indent: -12px; }
    #item-detail-container .item-detail-hierarchy li.item-detail-hierarchy-element {
      font-weight: normal; }
    #item-detail-container .item-detail-hierarchy li.item-detail-hierarchy-element-selected {
      font-weight: bold; }
      #item-detail-container .item-detail-hierarchy li.item-detail-hierarchy-element-selected:before {
        content: '\2192';
        margin-left: -18px;
        margin-right: 2px; }
    #item-detail-container .item-detail-hierarchy li.item-detail-hierarchy-placeholder {
      font-weight: normal; }
#item-detail-container .item-dataset-container {
  overflow: auto;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #333333;
  font-size: 0.875rem;
  padding: 12px;
  margin-bottom: 24px;
  max-height: 500px;
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }
  #item-detail-container .item-dataset-container ul {
    padding-left: 15px;
    list-style-type: none; }
    #item-detail-container .item-dataset-container ul li {
      position: relative;
      margin-top: 0.2rem; }
      #item-detail-container .item-dataset-container ul li:before {
        content: " ";
        display: inline-block;
        position: absolute;
        left: -1.25rem;
        top: 0.25rem;
        width: 0;
        height: 0;
        margin-right: 3px;
        margin-left: 8px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333333; }
      #item-detail-container .item-dataset-container ul li .btn-inline {
        padding: 0 0.5rem; }
      #item-detail-container .item-dataset-container ul li .sample-output-value-expanded .fa-plus-square {
        display: none; }
      #item-detail-container .item-dataset-container ul li .sample-output-value-expanded .fa-minus-square {
        display: inline; }
      #item-detail-container .item-dataset-container ul li .sample-output-value-collapsed .fa-plus-square {
        display: inline; }
      #item-detail-container .item-dataset-container ul li .sample-output-value-collapsed .fa-minus-square {
        display: none; }
    #item-detail-container .item-dataset-container ul .sample-output-key {
      font-style: italic;
      font-weight: bold; }
#item-detail-container #item-images {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }
  #item-detail-container #item-images img {
    width: 100%;
    height: auto; }
  #item-detail-container #item-images .carousel-control-next,
  #item-detail-container #item-images .carousel-control-prev {
    border: none;
    background-color: #A08246; }

#search-available-collections {
  margin-bottom: 0; }
  #search-available-collections li {
    display: block;
    padding: 0; }
    #search-available-collections li::before {
      display: none; }
    #search-available-collections li .search-available-collection-doccount {
      font-weight: bold;
      font-size: 125%; }

.sidebar-filters h3 {
  margin: 0; }
.sidebar-filters ul {
  margin: 0;
  list-style: none;
  padding-left: 0; }
  .sidebar-filters ul li {
    text-indent: -10px;
    padding-left: 10px; }
    .sidebar-filters ul li span {
      font-size: 90%;
      color: #035151;
      cursor: pointer; }
      .sidebar-filters ul li span:hover {
        color: #000707; }
.sidebar-filters button {
  margin-top: 6px;
  margin-bottom: 24px; }

.slider {
  width: 95%; }
  .slider > .dragger {
    background: #07b3b3;
    background: -webkit-linear-gradient(top, #08e5e5, #035151);
    background: -moz-linear-gradient(top, #08e5e5, #035151);
    background: linear-gradient(top, #08e5e5, #035151);
    -webkit-box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #035151;
    width: 16px;
    height: 16px; }
    .slider > .dragger:hover {
      background: -webkit-linear-gradient(top, #5af9f9, #07b3b3); }
  .slider > .track,
  .slider > .highlight-track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #ddd);
    background: -moz-linear-gradient(top, #bbb, #ddd);
    background: linear-gradient(top, #bbb, #ddd);
    -webkit-box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #aaa;
    height: 6px; }
  .slider > .highlight-track {
    background: #07b3b3;
    background: -webkit-linear-gradient(top, #08e5e5, #035151);
    background: -moz-linear-gradient(top, #08e5e5, #035151);
    background: linear-gradient(top, #08e5e5, #035151);
    border-color: #035151; }

table.table.state-table {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
  /* Specifics for inner (data) lists */ }
  table.table.state-table.state-table-navigatable tbody tr.state-row-default.active, table.table.state-table.state-table-navigatable tbody tr.state-row-default:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-default.group, table.table.state-table.state-table-selectable tbody tr.state-row-default.active, table.table.state-table.state-table-selectable tbody tr.state-row-default:hover, table.table.state-table.state-table-selectable tbody tr.state-row-default.group {
    background-color: #d6d6d6; }
  table.table.state-table.state-table-navigatable tbody tr.state-row-ok.active, table.table.state-table.state-table-navigatable tbody tr.state-row-ok:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-ok.group, table.table.state-table.state-table-selectable tbody tr.state-row-ok.active, table.table.state-table.state-table-selectable tbody tr.state-row-ok:hover, table.table.state-table.state-table-selectable tbody tr.state-row-ok.group {
    background-color: #afecbd; }
  table.table.state-table.state-table-navigatable tbody tr.state-row-info.active, table.table.state-table.state-table-navigatable tbody tr.state-row-info:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-info.group, table.table.state-table.state-table-selectable tbody tr.state-row-info.active, table.table.state-table.state-table-selectable tbody tr.state-row-info:hover, table.table.state-table.state-table-selectable tbody tr.state-row-info.group {
    background-color: #a7e9f4; }
  table.table.state-table.state-table-navigatable tbody tr.state-row-warning.active, table.table.state-table.state-table-navigatable tbody tr.state-row-warning:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-warning.group, table.table.state-table.state-table-selectable tbody tr.state-row-warning.active, table.table.state-table.state-table-selectable tbody tr.state-row-warning:hover, table.table.state-table.state-table-selectable tbody tr.state-row-warning.group {
    background-color: #fff4d3; }
  table.table.state-table.state-table-navigatable tbody tr.state-row-danger.active, table.table.state-table.state-table-navigatable tbody tr.state-row-danger:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-danger.group, table.table.state-table.state-table-navigatable tbody tr.state-row-error.active, table.table.state-table.state-table-navigatable tbody tr.state-row-error:hover, table.table.state-table.state-table-navigatable tbody tr.state-row-error.group, table.table.state-table.state-table-selectable tbody tr.state-row-danger.active, table.table.state-table.state-table-selectable tbody tr.state-row-danger:hover, table.table.state-table.state-table-selectable tbody tr.state-row-danger.group, table.table.state-table.state-table-selectable tbody tr.state-row-error.active, table.table.state-table.state-table-selectable tbody tr.state-row-error:hover, table.table.state-table.state-table-selectable tbody tr.state-row-error.group {
    background-color: #fae3e5; }
  table.table.state-table.state-table-navigatable tbody tr:hover, table.table.state-table.state-table-selectable tbody tr:hover {
    cursor: pointer; }
  table.table.state-table.state-table-navigatable tbody tr.active td:last-child:before, table.table.state-table.state-table-navigatable tbody tr:hover td:last-child:before {
    content: "\f0c1";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 1rem;
    color: #707070; }
  table.table.state-table tbody tr.state-row-default th, table.table.state-table tbody tr.state-row-default td {
    border-color: #707070; }
  table.table.state-table tbody tr.state-row-ok th, table.table.state-table tbody tr.state-row-ok td {
    border-color: #28a745; }
  table.table.state-table tbody tr.state-row-info th, table.table.state-table tbody tr.state-row-info td {
    border-color: #17a2b8; }
  table.table.state-table tbody tr.state-row-warning th, table.table.state-table tbody tr.state-row-warning td {
    border-color: #ffc107; }
  table.table.state-table tbody tr.state-row-danger th, table.table.state-table tbody tr.state-row-danger td, table.table.state-table tbody tr.state-row-error th, table.table.state-table tbody tr.state-row-error td {
    border-color: #dc3545; }
  table.table.state-table tbody tr th, table.table.state-table tbody tr td {
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: normal;
    vertical-align: middle; }
    table.table.state-table tbody tr th a, table.table.state-table tbody tr td a {
      border-bottom: none; }
    table.table.state-table tbody tr th .btn, table.table.state-table tbody tr td .btn {
      padding: 6px; }
  table.table.state-table tbody tr th {
    border-left: 6px solid;
    text-align: center;
    width: 8em;
    padding: 5px; }
    table.table.state-table tbody tr th.state-default i {
      color: #707070; }
    table.table.state-table tbody tr th.state-ok i {
      color: #28a745; }
    table.table.state-table tbody tr th.state-info i {
      color: #17a2b8; }
    table.table.state-table tbody tr th.state-warning i {
      color: #ffc107; }
    table.table.state-table tbody tr th.state-danger i, table.table.state-table tbody tr th .state-error i {
      color: #dc3545; }
  table.table.state-table tbody tr td:last-child {
    border-right-style: solid;
    border-right-width: 1px; }
  table.table.state-table tbody tr td.dataTables_empty {
    border: 1px solid #707070;
    padding: 10px;
    text-align: center; }
  table.table.state-table tbody tr.group th h2.group-heading, table.table.state-table tbody tr.group td h2.group-heading {
    margin: 0 12px 0 12px; }
  table.table.state-table ul.inner-state-list {
    width: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    table.table.state-table ul.inner-state-list li {
      padding: 4px 5px;
      /*border-bottom: 1px solid #EEE;*/ }
      table.table.state-table ul.inner-state-list li .state-heading {
        font-weight: bold; }
      table.table.state-table ul.inner-state-list li .state-block-heading {
        font-weight: bold;
        font-size: 125%;
        font-style: italic; }

.status-container li {
  display: block !important; }
